
.about-me {
  text-align: center;
}
.withbg {
  background-image: url(https://cdn.hipwallpaper.com/i/3/98/ZK9n0f.jpg);
  background-size: cover;
}
.right{
  text-align:end;
}
.withnbg {
  background-image: url(https://www.csudh.edu/Assets/global/backgrounds/background-lsu1-yellow.jpg);
  background-size: cover;
}
  .logo-small {
    color: #f4511e;
    font-size: 50px;
    background-image : url(https://www.static-contents.youth4work.com/university/Documents/Colleges/collegeLogo/52.png?v=20190215154120);
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
